body{
    font-family: "Times New Roman", Times, serif;
}

/*----- Header -----*/
Header .welcomeText{
    font-family: 'Lobster', cursive;
    font-size: 45px;
}


/*------ Section1 ------*/
.icon{
    background: #ebeafb;
    color: #0d6efd;
    display: inline-block;
    border-radius: 15px;
    padding: 15px;
}